<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
   <connectionStrings>
    <add name="BursatilEntities" connectionString="metadata=res://*/ModeloBursatil.csdl|res://*/ModeloBursatil.ssdl|res://*/ModeloBursatil.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IDEA-PC\SQLEXPRESS;initial catalog=Bursatil;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="PathDescarga" value="c:\tmp"/>
  </appSettings>
</configuration>